@{
    ViewBag.Title = Model.Subject;
    Layout = "Shared/_Layout.cshtml";
}
@model CSLabs.Api.Email.ViewModels.ForgotPasswordEmailViewModel

You have requested a password reset. 
If this was you, please follow the following <a href="@Model.ForgotPasswordLink">Link</a> to reset your password.